@import "../utils/helpers"

secondary = #f1f1f1
/*min75col = #C75DAB
min90col = #D691C1
min100col = #E4C1D9
min110col = #A7D3D4
min125col = #42B7B9
min600col = #009B9E*/
fivepercgdp = #563C8F

min75col = #c51b7d
min90col = #e9a3c9
min100col = #fde0ef
min110col = #e6f5d0
min125col = #a1d76a
min600col = #4d9221

.filler
	margin 0 auto
	padding 4rem 1rem 1.5rem 1rem
	max-width 45rem

.smallmap
	max-width 800px
	margin auto

.twinmap-container
	width 100%
	max-width 70rem
	margin auto

.twinmap
	width 50%
	float left
	position relative

.twinmap-title {
  position: absolute;
  top: 8px;
  left: 16px;
  background-color white
  padding	 5px
}

/* STICKY SCROLL */
#scrolly-side .scrolly
	display flex

	& > *
		flex 1

	article
		display flex
		flex-direction column
		align-items center
		justify-content center

		padding-right 25px
		padding-left 25px
		max-width 30rem

		.step
			align-self center
			min-height 100vh
			margin-bottom 1rem
			opacity 0.5
			&:last-of-type
				margin-bottom 0
			&.is-active
				opacity 1
			&.is-active p, &.is-active div
				background-color secondary
			p
				margin 0
				padding 1rem
				transition background-color 100ms ease-in-out
			div
				margin 0
				padding-left 1rem
				padding-left 1rem
				padding-top 0
				padding-bottom 0
				transition background-color 250ms ease-in-out

	figure.sticky
		position sticky
		width 100%
		height 100vhs
		margin 0
		top 0
		left 0
		transform translate3d(0,0,0)

/* MAP */
.mapcontainer
	position sticky
	top 0
	height 100vh

.graticule {
  fill: none;
  stroke: #cccccc;
  stroke-width: .5px;
}

.land {
	fill: #f1f1f1;
}

.region
	stroke #ffffff
	stroke-width 0.5px
	transition fill 1000ms ease-in-out
	cursor pointer

.country {
	stroke #333333
	stroke-width 0.5px
}

.capital
	stroke #ffffff
	stroke-width 1px
	fill #333333
	fill-opacity 1
	pointer-events none

.chorolegend text.label, .toplegend text.label, .label-outside
	font-size 12px
	font-weight 600

.toplegend text.label, #average-label, #title
	fill black
	opacity 0.8
	/*filter url(#textshadow)*/
	text-shadow: -2px -2px white, -2px 2px white, 2px 2px white, 2px -2px white, -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white
	font-weight 600

#title
	font-size 24px
	text-anchor middle

rect.swatch
	stroke #ffffff
	stroke-width 1px

.y-axis path
	display none

.y-axis .tick line
	stroke #eeeeee

.highlight, .textlegend
	border-radius 4px
	padding-right 3px
	padding-left 3px
	padding-top 2px
	padding-bottom 2px
	color #000000
	cursor pointer

.highlight
	background-color #dddddd

.textlegend-75
	background-color min75col
	color #ffffff

.textlegend-90
	background-color min90col
	color #000000

.textlegend-100
	background-color min100col

.textlegend-110
	background-color min110col

.textlegend-125
	background-color min125col
	color #000000

.textlegend-600
	background-color min600col
	color #ffffff

.textlegend-5perc
	background-color fivepercgdp
	color #ffffff

.y-axis .tick text
	font-size 2em
	alignment-baseline middle

.y-axis .tick text tspan.countryname
	font-size 12px
	font-family Atlas

.annotation
	font-size 0.7em

div.tooltip	
	position absolute			
	text-align center						
	padding 4px
	width 120px			
	font 12px sans-serif			
	border 1px solid white	
	border-radius 3px		
	pointer-events none	
	box-shadow 1px 1px 1px 0px #333

ul {
  list-style: none;
}

li.custom-li {
  padding-left: 2em;
  text-indent: -2em;
  padding-right: 5px;
  line-height: 1.5em
}

li.region-li:before
	content: "○ "

li.country-li:before
	content: "□ "
	font-size 1.5rem

li.capital-li:before 
	content: "⦿ "
	font-size 1.3rem