@import "../utils/helpers"

secondary = #f1f1f1

.filler
	margin 0 auto
	padding 4rem 1rem 1.5rem 1rem
	max-width 60rem

/* STICKY SCROLL */
#scrolly-side .scrolly
	display flex

	& > *
		flex 1

	article
		display flex
		flex-direction column
		align-items center
		justify-content center

		padding-right 1rem
		max-width 30rem

		.step
			align-self center
			min-height 40vh
			margin-bottom 1rem
			transition background-color 500ms ease-in-out
			&:last-of-type
				margin-bottom 0
			&.is-active
					background-color secondary
			p
				margin 0
				padding 1rem

	figure.sticky
		position sticky
		width 100%
		height 100vhs
		margin 0
		top 0
		left 0

/* MAP */
.mapcontainer
	position sticky
	top 0
	height 100vh

.graticule {
  fill: none;
  stroke: #cccccc;
  stroke-width: .5px;
}

.land {
	fill: #f1f1f1;
}

.region {
	stroke: #ffffff;
	stroke-width: 0.5px;
	transition fill 1000ms ease-in-out
}

.country {
	stroke: #ffffff;
	stroke-width: 1px;
	transition: fill-opacity 1.5s;
}

.capital {
	stroke: #333333;
	stroke-width: 0px;
	fill: #333333;
	fill-opacity: 1;
	filter: drop-shadow(3px 3px 3px red);
}

.chorolegend text.label
	font-size 12px

.y-axis path
	display none

.y-axis .tick line
	stroke #eeeeee