.story
	margin 0 auto
	padding 4rem 1rem 1.5rem 1rem
	max-width 60rem

/* MAP */
.mapone {
	width: 100%
}

.graticule {
  fill: none;
  stroke: #cccccc;
  stroke-width: .5px;
}

.land {
	fill: #f1f1f1;
}

.region {
	stroke: #ffffff;
	stroke-width: 0.5px;
}

.country {
	stroke: #ffffff;
	stroke-width: 1px;
}

.capital {
	stroke: #333333;
	stroke-width: 1px;
	fill: none;
	fill-opacity: 1;
}