<p>
  Here is what every region received in catch up funds in the ten years from 2007 until 2016 (numbers for 2016 are only partial). <span class="highlight region" id="ES61">Andalucia</span> is the region that received the most money: it 'absorbed' more than 15 billion € spread over 10 years.
</p>