<p>
  To illustrate the importance of the catch-up funds for some regions, the maps now shows the total funds received in 2015 (the most recent year with complete data available) as a percentage of regional GDP. For some regions, <span class="textlegend textlegend-5perc" data-th-high="100" data-th-low="5", data-measure="fundpercgdp15">the funds amount to more than 5 percent of their gdp</span>. So for many regions the catch-up funds are a very important part of the economy and crucial for public investments.
</p>