<section class='filler'>
  <div>
    <p>{{doc.beforeafterintro}}</p>
  </div>
  <div>
    <p>{{doc.hungary}}</p>
  </div>
  <div class="map" id="hungary">
      <svg id="hungary13"></svg>
      <svg id="hungary16"></svg>
  </div>
</section>