<section class='filler'>
  <div>
    <p>{{doc.beforeafterintro}}</p>
  </div>
  <div>
    <p>{{doc.hungary1}}</p>
  </div>
  <div>
    <img src="assets/img/hungary13-gdp.png" class="smallmap">
  </div>
  <div>
    <p>{{doc.hungary2}}</p>
  </div>
  <div>
    <img src="assets/img/hungary16-gdp.png" class="smallmap">
  </div>
  <!--div class="map" id="hungary">
      <svg id="hungary13"></svg>
      <svg id="hungary16"></svg>
  </div-->
</section>