<section class='filler'>
  <div>
    <p>{{doc.beforeafterintro}}</p>
  </div>
  <div>
    <p>{{doc.hungary1}}</p>
    <p>{{doc.hungary2}}</p>
  </div>
</section>
<section>
  <div>
    <img src="assets/img/HU-choro-2013.png" class="twinmap">
    <img src="assets/img/HU-choro-2016.png" class="twinmap">
  </div>
</section>