<section class='filler'>
  <div>
    <p>{{doc.beforeafterintro}}</p>
  </div>
  <div>
    <p>{{doc.hungary1}}</p>
    <p>{{doc.hungary2}}</p>
  </div>
</section>
<section>
  <div class="twinmap-container">
    <div class="twinmap twinmap-left">
      <img src="assets/img/HU-choro-2013-haze@2x.png">
      <div class="twinmap-title tk-atlas">EU Regions Hungary, 31 December 2017</div>
    </div>
    <div class="twinmap twinmap-right">
      <img src="assets/img/HU-choro-2017-haze-connection@2x.png">
      <div class="twinmap-title tk-atlas">EU Regions Hungary, 1 January 2018</div>
    </div> 
  </div>
</section>