<section class='filler'>
  <div>
    <p>{{doc.hungary-blank1}}</p>
    <p>{{doc.hungary-blank2}}</p>
    <p>{{doc.hungary-blank3}}</p>
  </div>
</section>
<section>
  <div class="twinmap-container">
    <img src="assets/img/HU-2013.png" class="twinmap">
    <img src="assets/img/HU-2016.png" class="twinmap">
  </div>
</section>
<section class='filler'>
  <p>{{doc.hungary-blank4}}</p>
</section>