<section class='filler'>
  <div>
    <p>{{doc.hungary}}</p>
  </div>
  <div class="map" id="hungary">
      <!--svg id="hungary13"></svg>
      <svg id="hungary16"></svg-->
      <img src="assets/img/HU13.png" style="width: 400px;">
      <img src="assets/img/HU16.png" style="width: 400px;">
  </div>
</section>