<section class='filler'>
  <div>
    <p>{{doc.hungary-blank1}}</p>
  </div>
  <img src="assets/img/hungary13.png">
  <!--div class="map">
      <svg id="hungary13-blank"></svg>
  </div-->
  <p>{{doc.hungary-blank2}}</p>
  <p>{{doc.hungary-blank3}}</p>
  <img src="assets/img/hungary16.png">
  <!--div class="map">
      <svg id="hungary16-blank"></svg>
  </div-->
  <p>{{doc.hungary-blank4}}</p>
</section>