<section class='filler'>
  <div>
    <p>{{doc.hungary-blank1}}</p>
    <p>{{doc.hungary-blank2}}</p>
    <p>{{{doc.hungary-blank3}}}</p>
  </div>
</section>
<section>
  <div class="twinmap-container">
    <div class="twinmap twinmap-left">
      <img src="assets/img/HU-blank-haze-2013-atlas@2x.png">
      <div class="twinmap-title tk-atlas">EU Regions Hungary, 31 December 2017</div>
    </div>
    <div class="twinmap twinmap-right">
      <img src="assets/img/HU-blank-haze-2016-atlas@2x.png">
      <div class="twinmap-title tk-atlas">EU Regions Hungary, 1 January 2018</div>
    </div> 
  </div>
</section>
<section class='filler'>
  <p>{{doc.hungary-blank4}}</p>
</section>