<p>
  It is clear that the range of regional economic development is quite big for many countries: national averages hide a very big diversity in regional economic development. In almost all countries, <span class="highlight">regions containing the country capital ⦿</span> are much more developed than the other regions of the country. HIGHLIGHT OTHER REGIONS?
</p>