<section class='filler'>
  <div>
    <p>{{doc.lithuania1}}</p>
    <p>{{doc.lithuania2}}</p>
  </div>
  <div class="animation-container animation-container-LT">
    <div class="animation-title tk-atlas">How Lithuania split itself in two</div>
    <svg class="animation animation-LT"></svg>
  </div>
</section>
<section>
  <div class="twinmap-container">
    <div class="twinmap twinmap-left">
      <img src="assets/img/LT-choro-2013-haze@2x.png">
      <div class="twinmap-title tk-atlas">EU Regions Lithuania, 31 December 2017</div>
    </div>
    <div class="twinmap twinmap-right">
      <img src="assets/img/LT-choro-2017-haze@2x.png">
      <div class="twinmap-title tk-atlas">EU Regions Lithuania, 1 January 2018</div>
    </div> 
  </div>
</section>