<section class='filler'>
  <div>
    <p>{{doc.lithuania1}}</p>
  </div>
  <div>
    <p>{{doc.lithuania2}}</p>
  </div>
  <div class="map" id="lithuania">
      <svg id="lithuania13"></svg>
      <svg id="lithuania16"></svg>
  </div>
</section>