<section class='filler'>
  <div>
    <p>{{doc.p16}}</p>
  </div>
  <div>
    <p>{{doc.p17}}</p>
  </div>
  <div class="map" id="lithuania">
      <!--svg id="lithuania13"></svg>
      <svg id="lithuania16"></svg-->
      <img src="assets/img/LT13.png" style="width: 400px;">
      <img src="assets/img/LT16.png" style="width: 400px;">
  </div>
  <div>
    <p>{{doc.p18}}</p>
  </div>
</section>