<section class='filler'>
  <div>
    <p>{{doc.lithuania1}}</p>
    <p>{{doc.lithuania2}}</p>
  </div>
</section>
<section>
  <div>
    <img src="assets/img/LT-choro-2013.png" class="twinmap">
    <img src="assets/img/LT-choro-2016.png" class="twinmap">
  </div>
</section>