<section class='filler'>
  <div>
    <p>{{doc.poland}}</p>
  </div>
  <div class="map" id="poland">
      <!--svg id="poland13"></svg>
      <svg id="poland16"></svg-->
      <img src="assets/img/PL13.png" style="width: 400px;">
      <img src="assets/img/PL16.png" style="width: 400px;">
  </div>
</section>