<section class='filler'>
  <div>
    <p>{{doc.poland}}</p>
  </div>
</section>
<section>
  <div>
    <img src="assets/img/PL-choro-2013.png" class="twinmap">
    <img src="assets/img/PL-choro-2016.png" class="twinmap">
  </div>
</section>