<section id='scrolly-side'>
  
  <div class='scrolly'>

    <!--  sticky graphic   -->
	<figure class="mapcontainer sticky">
		<svg id="mapone"></svg>
  	</figure>
    
    <!--  step text   -->
	  <article>
      <div class='step' data-width='10%' data-index='0'>
          <p>{{doc.p1}}</p>
      </div>
      <div class='step' data-width='90%' data-index='1'>
         <p>{{doc.p2}}</p>
      </div>
      <div class='step' data-width='50%' data-index='2'>
        <p>{{doc.p3}}</p>
      </div>
      <div class='step' data-width='50%' data-index='3'>
        <p>{{doc.p4}}</p>
      </div>
	  </article>
    
  </div>
  
</section>

<section class='filler'>
  <p>
    End
  </p>
</section>