<section class='filler'>
  <div>
    <h2>What does it mean to split up regions?</h2>
    <p>Every three years, the EU asks its members states if they want to revise the boundaries of their regions. Member states can propose changes, which the EU then checks against these criteria:
      <ul>
        <li>modified or new regions should be existing administrative units, or an aggregation of smaller existing administrative units</li>
        <li>there shouldn’t be any gaps in the national territory</li>
        <li>every region should have a population between 800.000 and 3 million people</li>
      </ul>
    </p>
    <p>If these criteria are met, the EU can decide to approve the new region boundaries. But creating new regions is not free for member states: member states have to report a wide variety of statistics at the regional level. Not only do they have to report on the regional gdp, they also have to provide numbers on demography, employment, education and poverty. And this obligation is retroactive: after a new region is created, historical time series for all statistics for the new region have to be reported to the EU within 2 years. Collection of this data can mean a big investment for some regions.</p>
    <p>As capital cities and their hinterlands do work quite differently socio-economically, splitting them up and collecting statistics on both parts separately and designing policy specifically makes some sense. But it also means that the management of EU development projects is delegated to poorer regions governments. And those governments not always have the adequate capacity to manage these.</p>
    <p>Splitting regions into poorer and richer regions contributes to less cohesion: usually one dot in the middle of the chart is replaced by a new one on the left and another new one on the right of the chart.</p>
  </div>
</section>